<template name="footer_tpl">

    <footer id="footer">
        <hr>
        <div class="row">
          <div class="span3">
            <h4 align="center">AVotreService</h4>
            <hr>
            <ul>
              <li>
                <a href="about.html" title="Qui sommes nous?">Qui sommes nous ?</a> 
              </li>
              <li>
                <a href="presentation.html" title="Présentation complète de AVotreService">Présentation</a> 
              </li>
              <li>
                <a href="http://bit.ly/avs" title="Application Android">Application Android</a>
              </li>
              <li>
                <a href="http://itunes.apple.com/fr/app/avs/id423317030?mt=8&ls=1" title="Application iPhone">Application iPhone</a>
              </li>
            </ul>
          </div>
          <div class="span2">
            <h4 align="center">Utilisateurs</h4>
            <hr>
            <ul>
              <li>
                <a href="signup.html" title="Ouvrir un compte">Ouvrir un compte</a> 
              </li>
              <li>
                <a href="login.html" title="Se connecter" onclick="target=&#39;_blank&#39;;">Se connecter</a>
              </li>
            </ul> 
          </div>
          <div class="span2">
            <h4 align="center">Espace pro</h4> 
            <hr>
            <ul>              
              <li>
                <a href="pro.html" title="Notre offre dédiée aux professionnels">Notre offre</a> 
              </li>
              <li>
                <a href="presse.html" title="Relations presse">Relations presse</a> 
              </li>
              <li>
                <a href="api.html" title="API publique">API</a>
              </li>
            </ul>
          </div>
          <div class="span3">
            <h4 align="center">Contact &amp; Aide</h4> 
            <hr>
            <ul>
              <li>
                <a href="contact.html" title="Nous contacter">Nous contacter</a> 
              </li>
              <li>
                <a href="faq.html" title="FAQ">Questions &amp; Réponses</a> 
              </li>
              <li>
                <a href="confidentialite.html" title="Charte de confidentialité">Charte de confidentialité</a> 
              </li>
              <li>
                <a href="conditions.html" title="Conditions Générales d&#39;Utilisation">Conditions Générales d'Utilisation</a> 
              </li>
              <li>
                <a href="cgp.html" title="Conditions Particulières d&#39;Utilisation">Conditions Particulières d'Utilisation</a>
              </li>
            </ul>
          </div>
          <div class="span2">
            <h6 align="center">Communauté</h6> 
            <hr>
            <ul>
              <li>
                <a href="http://blog.prixing.fr/" onclick="target=&#39;_blank&#39;;" title="Blog">Blog</a> 
              </li>
              <li>
                <a href="http://twitter.com/prixing" onclick="target=&#39;_blank&#39;;" title="Twitter">Twitter</a> 
              </li>
              <li>
                <a href="http://www.facebook.com/apps/application.php?id=146490582046953" onclick="target=&#39;_blank&#39;;" title="Facebook">Facebook</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
</template>