<template name="onglets_tpl">
	<div class="row">
        <div class="tabbable span12">
          <ul class="nav nav-tabs" id="ongletsTab">
            <li class="active"><a href="#tabs1-pane1" data-toggle="tab"><h5>Place de marché</h5></a></li>
            {{#if currentUser}}
            <li><a href="#tabs1-pane2" data-toggle="tab"><h5>Mes annonces</h5></a></li>
            <li><a href="#tabs1-pane3" data-toggle="tab"><h5>Mes transactions</h5></a></li>
            <li><a href="#tabs1-pane4" data-toggle="tab"><h5>Mes centres d'intérêts</h5></a></li>
            <li><a href="#tabs1-pane5" data-toggle="tab"><h5>Mes amis</h5></a></li>
            <li><a href="#tabs1-pane6" data-toggle="tab"><h5>Mon planning</h5></a></li>
            <li><a href="#tabs1-pane7" data-toggle="tab"><h5>Mes préférences</h5></a></li>
            {{/if}}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs1-pane1">

                {{> lesannonces_tpl}}

            </div>
            {{#if currentUser}}
            <div class="tab-pane" id="tabs1-pane2">
       
              	{{> mesannonces_tpl}}
    
            </div>
            <div class="tab-pane" id="tabs1-pane3">
              
                {{> transactions_demande_tpl}}

                {{> transactions_offre_tpl}}

            </div>
            <div class="tab-pane" id="tabs1-pane4">
              <h4>Mes Centres d'intérêt</h4>
              <p>Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            </div>
            <div class="tab-pane" id="tabs1-pane5">
              <h4>Mes Amis</h4>
              <p>Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            </div>
            <div class="tab-pane" id="tabs1-pane6">
              <h4>Mon planning</h4>
              <p>Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            </div>
            <div class="tab-pane" id="tabs1-pane7">
              <h4>Mes Préférences</h4>
              <p>Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            </div>
            {{/if}}
          </div><!-- /.tab-content -->
        </div><!-- /.tabbable -->
      </div><!-- /.row -->

</template>