<template name="onglets_tpl">
	<div class="row">
        <div class="tabbable span12">
          <ul class="nav nav-tabs" id="ongletsTab">
            <li class="active"><a href="#tabs1-pane1" data-toggle="tab"><h5>Place de marché</h5></a></li>
            {{#if currentUser}}
            <li><a href="#tabs1-pane2" data-toggle="tab"><h5>Mes annonces</h5></a></li>
            <li><a href="#tabs1-pane3" data-toggle="tab"><h5>Mes transactions</h5></a></li>
            <li><a href="#tabs1-pane4" data-toggle="tab"><h5>Mes centres d'intérêts</h5></a></li>
            <li><a href="#tabs1-pane5" data-toggle="tab"><h5>Mes amis</h5></a></li>
            <li><a href="#tabs1-pane6" data-toggle="tab"><h5>Mon planning</h5></a></li>
            <li><a href="#tabs1-pane7" data-toggle="tab"><h5>Mes préférences</h5></a></li>
            {{/if}}
          </ul>
          <div class="tab-content">

            {{> onglet_marche_tpl}}

            {{> onglet_mesannonces_tpl}}

            {{> onglet_transactions_tpl}}

            {{> onglet_mesthemes_tpl}}

            {{> onglet_mesamis_tpl}}

            {{> onglet_mesamis_tpl}}

            {{> onglet_planning_tpl}}

            {{> onglet_preferences_tpl}}


          </div><!-- /.tab-content -->
        </div><!-- /.tabbable -->
      </div><!-- /.row -->

</template>