<template name="onglet_mesamis_tpl">
	
    {{#if currentUser}}
      
      <div class="tab-pane" id="tabs1-pane5">
        <h4>Mes Amis</h4>
        <p>Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
      </div>
      
    {{/if}}
          

</template>