<template name="presentation_tpl">
  <div class="row">
        <div class="span2">
          <img src="postit.png" float="left">
        </div>
        <div class="span10">

          <div class="well">
          <strong>Plateforme</strong> permettant aux <strong>demandeurs de services</strong> et aux <strong>fournisseurs de services</strong> de se trouver et d'interagir efficacement <br>
          <ul>
            <li>
              en <strong>temps réel</strong>,
            </li>
            <li>
              via un <strong>filtrage temporel</strong> (planning, plage d'activité),
            </li>
            <li>
              via un <strong>filtrage géographique</strong> (mes lieux : fixe, mobile),
            </li>
            <li>
              via un <strong>filtrage thématique</strong> (abonnement à des centres d'intérêts)
            </li>
            <li>
              et via un <strong>filtrage "social"</strong> (tel fournisseur bien noté par mes amis).
            </li> 
          </ul>
          Ce canal de communication innovant peut également être utilisé pour déposer des <strong>petites-annonces classiques</strong> de ventes et d'achats de biens (immobilier, voiture, troc, location, etc...) mais également comme outil de <strong>publication d'information</strong> (news, annonces, alertes, questions, etc...).
          </div>
        </div>
      </div>
  </template>