<template name="transaction_tpl">

	<li class="span10" style="margin-top: 5px;margin-bottom: 5px;margin-left: 30px;margin-right: 5px;">
		<div class="thumbnail">
			<ul>
				<li>Titre annonce : {{titre}}</li>
				<li>Objet annonce : {{objet}}</li>
				<li>Type annonce : {{type}}</li>
				<li>Description annonce : {{description}}</li>
				<li>Statut transaction : {{statut}}</li>
				<li>Createur annonce : {{createur}}</li>
				<li>Acteur transaction : {{acteur}}</li>
				<li>Ranking acteur transaction</li>
				<li>Date de création de la transaction {{date_creation}}</li>
				<li>Nombre de transactions par statut sur la même annonce</li>
			</ul>
		</div>	
	</li>


</template>