.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    /*background-color: grey;*/
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    min-width: 1px;
}

.thumbnail {
    border: 5px solid #DDD;
    /*background-color: #262E4F;*/
    margin-top: 10px;
    padding: 2px;
}

.thumbnail-annonce {
    background-image: url('/background-tito-btn-blue.png');
}

.thumbnail .span1 {
    width: 40px;
    margin-left: 10px;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
    color: white;
}



.tab-content .span2 {
    width: 240px;
    margin-left: 0px;
}

li.span4 {
     margin-left: 15px;
}

.form-horizontal {
    background-color: white;
    line-height: 1;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.entete-annonce {
    
    /*background-color: #262E4F;*/
    margin-bottom: 2px;
}

.entete-annonce-spam {
    border: 2px solid #DDD;
    /*background-color: #262E4F;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color : white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    width: 20px;
    height: 20px;
    float: left;
    display:inline-block;
}

.entete-annonce-check {
    border: 2px solid #DDD;
    /*background-color: #262E4F;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    color : white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    width: 20px;
    height: 20px;
    float: right;
    display:inline-block;
}

.entete-annonce-suppression {
    border: 2px solid #DDD;
    /*background-color: #262E4F;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color : white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    width: 20px;
    height: 20px;
    float: left;
    display:inline-block;
}

.entete-annonce-modification {
    border: 2px solid #DDD;
    /*background-color: #262E4F;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color : white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    width: 20px;
    height: 20px;
    float: right;
    display:inline-block;
}

.entete-annonce-titre {
    /*border: 2px solid #DDD;*/
    /*background-color: #262E4F;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color : white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 20px;
    /*width: 222px;*/
    display:inline-block;
    text-align: center;
}

.btn-large {
padding: 5px 5px;
font-size: 14px;
line-height: normal;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.well {
min-height: 10px;
padding: 10px;
margin-bottom: 2px;
background-color: whiteSmoke;
border: 1px solid #E3E3E3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#big_formulaire {
    /*border: 5px solid #DDD;*/
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    /*background-color: #262E4F;*/
}

.datepicker  {
    z-index: 1060;
}

.bootstrap-timepicker {
    z-index: 1060;   
}

.timepicker-default {
    width: 82px;
}

.control-label {
    color: #070D58;
}

.nav-tabs > li > a {
padding-top: 4px;
padding-bottom: 4px;
line-height: 15px;
}

​.filtre_marche {
    margin-top: 10px;
}

.thumbnail > hr {
    margin: 5px 0;
}


#demandeInformationModal > .modal-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#demandeInformationModal > .modal-body {
    padding-top: 5px;
}

#demandeServiceModal > .modal-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#demandeServiceModal > .modal-body {
    padding-top: 5px;
}

#demandeBienModal > .modal-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#demandeBienModal > .modal-body {
    padding-top: 5px;
}

#offreInformationModal > .modal-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#offreInformationModal > .modal-body {
    padding-top: 5px;
}

#offreServiceModal > .modal-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#offreServiceModal > .modal-body {
    padding-top: 5px;
}

#offreBienModal > .modal-header {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

#offreBienModal > .modal-body {
    padding-top: 5px;
}

.modal-body .form-horizontal .control-group {
    margin-bottom: 10px;
}

/*#lesannonces-theme-filter .label {
    float: left;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 8px;
}*/

#lesannonces-theme-filter .theme {
    margin-top: 5px;
    /*border: 1px solid #777;*/
    display: inline-block;
    padding: 5px;
    background-image: url('/background-tito-btn-grey.png');
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    font-size: 12px;
}

#lesannonces-theme-filter .selected {
    background: #69d;
}

#lesannonces-theme-filter .count {
    font-weight: normal;
    padding-left: 2px;
}

#mesannonces-theme-filter .theme {
    margin-top: 5px;
    /*border: 1px solid #777;*/
    display: inline-block;
    padding: 5px;
    background-image: url('/background-tito-btn-grey.png');
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    font-size: 12px;
}

#mesannonces-theme-filter .selected {
    background: #69d;
}

#mesannonces-theme-filter .count {
    font-weight: normal;
    padding-left: 2px;
}

#lesannonces_map {
    width:450px;
    height:430px;
    margin-top: 10px;
    border: 5px solid #DDD;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#mesannonces_map {
    width:450px;
    height:430px;
    margin-top: 10px;
    border: 5px solid #DDD;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.leaflet-popup-content-wrapper {
    color: blue;
}

#lesannonces_calendar {
    /*width:450px;*/
    /*height:430px;*/
    margin-top: 10px;
    border: 5px solid #DDD;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#mesannonces_calendar {
    /*width:450px;*/
    /*height:430px;*/
    margin-top: 10px;
    border: 5px solid #DDD;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.fc-event-skin {
    background: #3c5384 !important;
    color: white !important;
}

.fc-event {
    font-size: 10px;
    font-style: italic;
}