<template name="annonces_creation_coeur_form_tpl">	

{{#constant}}
  <div class="control-group">
    <label class="control-label" for="annonces-titre-input">Titre</label>
    <div class="controls">
      <input id="annonces-titre-input" type="text" placeholder="titre de l'annonce..." class="input-medium"></input>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="annonces-description-input">Description</label>
    <div class="controls">
      <textarea id="annonces-description-input" type="text" placeholder="description de l'annonce..."></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="annonces-image-input">Image</label>
    <div class="controls">
      <input id="annonces-image-input" type="text" placeholder="image accompagnant l'annonce..."></input>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="annonces-themes-input">Thèmes</label>
    <div class="controls">
      <input id="annonces-themes-input" type="text" placeholder="Thèmes de l'annonce..."></input>
    </div>
  </div>
  {{/constant}}

</template>