<template name="annonce_creation_plage_form_tpl">	

{{#constant}}
  <div class="control-group">
    <label class="control-label" for="annonces-startdate-input">Date de début</label>
    <div class="controls">
      <div class="input-append date annonces-date-input" id="annonces-startdate-input-dp" data-date="" >
        <input class="span1" id="annonces-startdate-input" size="8" type="text" value="" readonly="" style="font-size: 10px;">
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
      <div class="input-append bootstrap-timepicker-component" style="display: inline-block;">
        <input type="text" id="annonces-starttime-input" class="timepicker-default input-small"  style="font-size: 10px;">
        <span class="add-on">
          <i class="icon-time"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="annonces-enddate-input">Date de fin</label>
    <div class="controls">
      <div class="input-append date annonces-date-input" id="annonces-enddate-input-dp" data-date="">
        <input class="span1" id="annonces-enddate-input" size="8" type="text" value="" readonly="" style="font-size: 10px;">
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
      <div class="input-append bootstrap-timepicker-component" style="display: inline-block;">
        <input type="text" id="annonces-endtime-input" class="timepicker-default input-small"  style="font-size: 10px;">
        <span class="add-on">
          <i class="icon-time"></i>
        </span>
      </div>
    </div>
  </div>
  {{/constant}}

</template>