/* CSS declarations go here */
body {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	/*background-image: url('/bg-tile.png');*/
  	background-position: center;
}

.modal.large{
    width: 600px;
    margin-left: -300px; /* - width/2 */
}




